
.publication_filters form {
    display: flex;
    flex-wrap: wrap;
}
.publication_filters div.col {
    margin-right: 4rem;
}
.publication_filters div.input {
    display: flex;
    align-items: start;
    flex-wrap: wrap;
    margin: .6rem .5rem;
}
.publication_filters input:disabled {
    background: #aaa;
}
.publication_filters div.input.vcenter {
    align-items: center;
}
.publication_filters div.input>label {
    vertical-align: top;
    padding-right: 1rem;
    min-width: 6rem;
}
.publication_filters div.input .checkbox>label {
    display: inline-block;
}
.publication_filters .type_box {
    display: inline-block;
}
.publication_filters div.search, .publication_filters div.submit {
    width: 100%;
    align-items: center;
}
.publication_filters div.search input {
    width: 100%;
    max-width: 40rem;
}

article.publication {
    margin: 1em 0 2em;
    line-height: 1.2rem;
}
.publication .title {
    font-style: italic;
}
.publication .authors {
    font-weight: bold;
}
.publication .authors .author:not(:first-child)::before {
    content: "and";
    padding: 0 .4rem;
}
.publication .downloads .download:not(:first-child)::before {
    content: "|";
    padding: 0 .4rem;
}
.publication .downloads, .publication .projects {
    margin-right: 1rem;
}
.publication .projects .project:not(:first-child)::before {
    content: ", ";
}
.publication .sites .site:not(:first-child)::before {
    content: ", ";
}
.publication form.edit {
    margin: .2rem 0;
}

.publication_list>div {
    margin: 1rem;
}
.publication_list .publication_count {
    margin: 1rem 0 .5rem;
}
.publication_list .publication_header {
    display: flex;
    justify-content: space-between;
    column-gap: 2rem;
    flex-wrap: wrap-reverse;
}
.publication_list .publication_set_limit, .publication_list .publication_pagination {
    flex-shrink: 0;
    margin: .5rem 0;
}
.publication_list .publication_set_limit input {
    padding: 0;
    width: 3.1rem;
    text-align: center;
}
.publication_list .publication_pagination a {
    display: inline-block;
    padding: 0 .1rem;
    margin: .2rem;
    text-transform: capitalize;
    color: #4285f4;
    cursor: pointer;
}
.publication_list .publication_pagination a:hover {
    text-decoration: underline;
}
.publication_list .publication_pagination a.publication_current {
    color: black;
}
.publication_list .publication_pagination a.publication_numeric {
    padding: 0;
}
