{% extends "base.html" %}

{% block main %}
<h1>Publication Database</h1>
<div class="publication_filters">
  <form action="{{ request.path }}" method="get" autocomplete="off">
    <div class="input vcenter search"><label for="search">Text search: </label><input type="text" name="search" value="{{ search }}" /></div>
    <div class="col">
      <div class="input vcenter"><label for="start_date">Start date: </label><input type="date" name="start_date" value="{{ start_date }}" /></div>
      <div class="input vcenter"><label for="end_date">End date: </label><input type="date" name="end_date" value="{{ end_date }}" /></div>
      <div class="input"><label for="type">Type: </label><div class="type_box">
        {% for t in PUBLICATION_TYPES %}
        <div class="checkbox">
          <input type="checkbox" name="type" id="type_{{ t }}" value="{{ t }}" {% if t in type %}checked {% end %}/>
          <label for="type_{{ t }}">{{ PUBLICATION_TYPES[t] }}</label>
        </div>
        {% end %}
      </div></div>
    </div><div class="col">
      {% if not hide_projects %}
      <div class="input"><label for="projects">Project: </label><div class="projects_box">
        {% for p in PROJECTS %}
        <div class="checkbox">
          <input type="checkbox" name="projects" id="projects_{{ p }}" value="{{ p }}" {% if p in projects %}checked {% end %}/>
          <label for="projects_{{ p }}">{{ PROJECTS[p] }}</label>
        </div>
        {% end %}
      </div></div>
      {% end %}
    </div>
    {% module xsrf_form_html() %}
    <div class="input vcenter submit"><input type="submit" value="Filter" /></div>
  </form>
</div>
<h2>Selected Publications:</h2>
<div class="publications">
{% for pub in publications %}
<article class="publication">
  <div><span class="title">{{ pub['title'] }}</span></div>
  <div><span class="authors">
    {% for author in pub['authors'] %}<span class="author">{{ author }}</span>{% end %}
  </span></div>
  <div><span class="type">({{ PUBLICATION_TYPES[pub['type']] }})</span>
  <span class="citation">{{ pub['citation'] }}</span>
  <span class="date">{{ date_format(pub['date']) }}</span></div>
  <div>
    {% if pub['downloads'] %}
    <span class="downloads">Download:
      {% for link in pub['downloads'] %}<span class="download"><a href="{{ link }}" target="_blank">{{ domain(link) }}</a></span>{% end %}
    </span>
    {% end %}
    {% if pub['projects'] and not hide_projects %}
      <span class="projects">Project:
      {% for project in pub['projects'] %}<span class="project">{{ PROJECTS[project] }}</span>{% end %}
    {% end %}
    </span>
  </div>
  {% if pub.get('abstract', '') %}
  <div class="abstract_div">Abstract:
    <button>Show</button><button style="display:none">Hide</button>
    <div class="abstract">{{ pub['abstract'] }}</div>
  </div>
  {% end %}
</article>
{% end %}
</div>
{% end %}

{% block scripts %}
<script src="https://code.jquery.com/jquery-3.7.1.slim.min.js" integrity="sha256-kmHvs0B+OpCW5GVHUNjv9rOmY0IvSIRcf7zGUDTDQM8=" crossorigin="anonymous"></script>
<script>
$( document ).ready(function() {
  $(".abstract_div").each(function(i){
    let ab = $(this).find('.abstract');
    ab.hide();
    $(this).find('button').on('click', function(){
      ab.toggle();
      this.toggle();
    });
  });
});
</script>
{% end %}